spacy==3.3.1
streamlit
pyttsx3
nltk
scikit-learn
pyresparser
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
